@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import url(http://weloveiconfonts.com/api/?family=fontelico|iconicstroke);

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

a{
  text-decoration: none;
}


.hero-unit {
  margin: 3% 10%;
  display: block;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 60px;
  float: right;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.fontelico-emo-beer{
  color: white;
  font-size: 2em;
}
.iconicstroke-magnifying-glass{
  font-size: 2em;
}
h2{
  margin-bottom: 5px;
}
input{
  border-radius: 2px;
  border: 1px solid lightgray;
  margin: 5px 0;
  color: black;
 
}
#searchInput{
  width: 200px;
}

button{
  border-radius: 3px;
  border: none;
  color: white;
  background-color: black;
}

li{
  list-style-type: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin-bottom: 5px;

  &:hover{
    border: 3px solid white;
    margin-bottom: 2px;
  }
}

.search{
  float: left;
  width: 200px;
  margin-top: 50px;
}

.name{
  font-weight: bold;
}

.side{
  padding: 60px;
  width: 300px;
  float: left;
  margin: 3%;
}
.listofBars{
  margin: 0;
  padding: 0;
  margin-right: -26px;
  margin-left: -55px;
}

.results{
  color: black;
}