@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@import url(http://weloveiconfonts.com/api/?family=fontelico|iconicstroke);

/* fontelico */
[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

$font1: 'Oswald';
$font2: 'Lobster';

a{
  text-decoration: none;
}

/*.sidebar{
  background-color: black;
  width: 300px;
  height: 1000px;
  float: left;
}*/




.nb{
  margin-top: 10px;
  width: 650px;
}
.accordion {
  width: 300px;
  $accordion-menu-border-color: $base-border-color;
  $accordion-menu-color: $base-font-color;
  $accordion-menu-border: 1px solid $accordion-menu-border-color;
  $accordion-menu-background: lighten($accordion-menu-border-color, 10);
  $accordion-menu-hover: lighten($accordion-menu-background, 2);
  $accordion-menu-sub-background: darken($accordion-menu-background, 5);
  $accordion-menu-sub-inset: darken($accordion-menu-sub-background, 6);
  $accordion-menu-sub-hover: lighten($accordion-menu-sub-background, 2);
  $accordion-menu-list-padding: $base-spacing/2 $gutter;
  
  background-color: $accordion-menu-background;
  border: $accordion-menu-border;
  margin-bottom: $base-spacing;

  li {
    border-bottom: $accordion-menu-border;

    > a {
      color: $accordion-menu-color;
      padding: $accordion-menu-list-padding;
      display: block;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      background-color: $accordion-menu-hover;
    }
  }

  ul.submenu {
    display: none;

    li {
      background-color: $accordion-menu-sub-background;

      &:first-child {
        border-top: $accordion-menu-border;
        box-shadow: inset 0 1px 1px $accordion-menu-sub-inset;
      }

      &:hover {
        background-color: $accordion-menu-sub-hover;
      }
    }
  }

  .is-expanded {
    display: block;
    padding-bottom: 0;
  }
}



.hero-unit {
  margin: 0% 25%;
  display: block;
  width: 750px;
  font-size: 18px;
  font-weight: 200;
  background-color: black;
  color: white;
  padding: 60px;
  
  font-family: $font1;
  h1 {
    font-family: $font2;
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

#barForm{
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 5px;
}


.fontelico-emo-beer{
  color: white;
  font-size: 1.5em;
 
  border-radius: 2px;
  float: right;
}
.iconicstroke-magnifying-glass{
  font-size: 2em;
  border-radius: 3px;
   border: 2px solid white;
   margin-left: 10px;
}
h2{
  margin-bottom: 5px;
}
input{
  border-radius: 2px;
  border: 1px solid lightgray;
  margin: 5px 0;
  color: black;
 
}
#searchInput{
  width: 200px;
}

button{
  border-radius: 3px;
  border: none;
  color: white;
  background-color: black;
  border: 1px solid white;
  padding: 5px;
}

li{
  list-style-type: none;
  border: 1px solid white;
  color: white;
  padding: 10px;
  margin-bottom: 5px;

  &:hover{
    border: 3px solid white;
    margin-bottom: 2px;
  }
}

.search{
  float: left;
  width: 200px;
  margin-top: 50px;
}

.name{
  font-weight: bold;
  
}
.location{
  
}
.type{
    
}
.specialties{
  
}

.side{
  
  width: 300px;
  float: left;
  margin: 3%;
}
.listofBars{
  margin: 0;
  padding: 0;
  margin-right: -26px;
  margin-left: -55px;
}

.results{
  color: black;
}