<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>backboneHW</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="hero-unit">
      <h1>Time to Drink.</h1>

      <div class="search">
<input id="searchInput" placeholder="find a bar by neighborhood">
<button id="searchButton">search</button>
      </div>
      
      <ul class="listofBars">
      </ul>

      <div class="add">
    <input placeholder="name" id="nameofBar" type="text">
    <input placeholder="location" id="locationofBar" type="text">
    <input placeholder="type" id="typeofBar" type="text">
    <input placeholder="specialties" id="specialtiesofBar" type="text">
    <button id="nameButton">Submit</button>
      </div>


      
    </div>

    <script id="bars" type="text/template">
<li><%= name %> in <%= location%> is a total <%=type%> bar, known for <%= specialties%></li>
    </script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/models/bars_models.js"></script>
        <script src="scripts/collections/bars_collections.js"></script>
        <script src="scripts/views/bars_views.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
