<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>backboneHW</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="hero-unit">
      <h1>Time to Drink.</h1>

      <ul id="barsList">
      </ul>
      <div id="barForm"></div>

      
    </div>

<!-- <div class="side">
    <div class="add">
        <h2>Add a Bar.</h2>
        <input placeholder="name" id="nameofBar" type="text">
        <input placeholder="location" id="locationofBar" type="text">
        <input placeholder="type" id="typeofBar" type="text">
        <input placeholder="specialties" id="specialtiesofBar" type="text">
        <button id="nameButton"><span class="fontelico-emo-beer"></span>
</button>
    </div> -->

    <div class="search">
        <h2>Find a Bar.</h2>
        <input id="searchInput" placeholder="find a bar by neighborhood">
        <button id="searchButton"><span class="iconicstroke-magnifying-glass"></span></button>

        <ul class="listofResults"></ul>
        
    </div>
</div>

<script type="text/template" id="addTemplate">
    <form id="addBar">
    <input type="text" id="bar_name" placeholder="Name" />
    <input type="text" id="bar_location" placeholder="Location" />
    </br>
    <input type="text" id="bar_type" placeholder="Type" />
    <input type="text" id="bar_specialties" placeholder="Specialties"/>
    <button><span class="fontelico-emo-beer"></span></button>
        </form>
        <hr />
    </script> 


    <script id="bars" type="text/template">
<li>
    <span class="name"><%= name %> </span>
    in 
    <span class="location"><%= location%></span> 
    is a total 
    <i><%=type%></i> 
    bar, known for 
    <%= specialties%>
</li>
    </script>


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/backbone/backbone.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
<script type="text/javascript">
        window.App = {};
        App.Models = {};
        App.Collections = {};
        App.Views = {};
        App.Routers = {};
    </script>
        <!-- build:js scripts/main.js -->
        <script src="scripts/routes/app_routes.js"></script>
        <script src="scripts/models/bars_models.js"></script>
        <script src="scripts/collections/bars_collections.js"></script>
        <script src="scripts/views/add_bar_view.js"></script>
        <script src="scripts/views/one_bar_view.js"></script>
        <script src="scripts/views/bars_views.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
